html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

p {
  color: #8f8f8f;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* section */
.colored-section {
  /* background-color: #56068c; */
  /* background: linear-gradient(107.56deg, rgba(86, 6, 140, 0.2) 11.76%, rgba(41, 3, 67, 0.102) 58.27%, rgba(86, 6, 140, 0.2) 100%), #FFFFFF; */
  background: linear-gradient(107.56deg, rgba(86, 6, 140, 0.4) 11.76%, rgba(41, 3, 67, 0.24) 58.96%, rgba(86, 6, 140, 0.4) 100%), #FFFFFF;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.3rem;
  font-weight: 600;
  color: #56068c;
}

.navbar-brand:hover {
  color: #56068c;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  color: #56068c;
}

.nav-link:hover {
  color: #56068c;
}

.link {
  cursor: pointer;
  /* font-size: 18px; */
  position: relative;
  white-space: nowrap;
  /* color: var(--color-text); */
}

.link::before,
.link::after {
  position: absolute;
  width: 100%;
  height: 2px;
  background: currentColor;
  top: 70%;
  left: 0;
  pointer-events: none;
}

.link::before {
  content: '';
  /* show by default */
}

.link--metis::before {
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s;
}

.link--metis:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 2);
  color: #56068c;
}

/* star section */

.starSectionRight{
  margin: auto 0;
}


/* Headings */
.big-heading {
  color: #2A272A;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

.purple-text {
  color: #56068c;
}

.smileImg{
  position: relative;
  left: 92px;
  bottom: 33px;
  transform: scale(70%);
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
  text-shadow: 0.25px 0.25px 0.2px black;
}

/* Input Form */
#myForm {
  margin: 5% 3% 0% 0;
}

input {
  border-color: #fff;
}

.join-btn {
  font-family: "Roboto", sans-serif;
  background-color: #ec435e;
  border-color: #ec435e;
  font-weight: 500;
  border-radius: 10px;
}

.join-btn:hover {
  background-color: #56068C;
  border-color: #56068C;
  color: white;
}

/* ****************** Main-section (Form)---> Messages ********************** */
.msg {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 10px 0;
  font-size: 1.1rem;
  width: 95%;
  color: #fff;
  font-weight: 300;
}

#success-msg {
  display: none;
  margin: 10px 0 10px 0;
  text-align: center;
  background-color: #a2d670;
  border-color: #a2d670;
}

.kudos-img {
  margin: 0 5px 0 0;
}

/* Title section */
#title .container-fluid {
  padding: 1% 9% 10% 11%;
  text-align: left;
}

.img-container {
  margin: 33px 0 0 0px;
}

.img-size {
  width: 100%;
  transform: scale(1.4);
}

/* Features section */
#features {
  background-color: #fff;
  position: relative;
  margin: 0 12%;
}

.featureLeft, .featureRight{
  margin: auto 0;
  padding: 5% 0;
}

.featureProblem, .featureSolution{
  font-size: 1.5rem;
  font-weight: 600;
}

.hash1{
  font-weight: bold;
  color: #56068C;
}

.hash2{
  font-weight: bold;
  color: #ec435e;
}


/* About US */
#about-us .container-fluid {
  padding: 8% 15% 8% 15%;
}

.about-us-heading {
  font-weight: 600;
  /* color: #56068c; */
  color: black;
}

/* testimonial section */
#testimonials {
  background: #3A0072;
}

.testimonialHeading{
  color: #f88e9e;
  font-size: 3.5rem;
  font-weight: 600;
  font-family: 'Exo 2', sans-serif;
  padding: 50px 0 0 0;

}

.testimonial-text {
  color: #fee4e7;
  font-family: 'Exo 2', sans-serif;
  text-shadow: 0.5px 0.5px 1px black;
  font-size: 1.3rem;
  line-height: 1.5;
}

.highlightTestimonial{
  font-weight: bolder;
  color: #fcbac5;
}

.testimonial-subText {
  color: #fff;
}

.carousel-item {
  padding: 3% 15% 7% 15%;
}


#tag-line .container-fluid {
  padding: 8% 15%;
}

.tag-line-heading {
  font-weight: bold;
}

#cta .container-fluid {
  padding: 7% 10% 7% 10%;
}

/* footer */
#footer .container-fluid {
  padding: 7% 10% 2% 10%;
}

.footer-icon {
  padding: 2% 1.4%;
  transform: scale(1.2);
  color: black;
}

.footer-anchor {
  color: black;
}

.footer-mail {
  color: #a71bad;
}

.footer-mail:hover {
  color: #56068c;
}

.footer-p {
  color: black;
}

.contact-p {
  font-weight: 700;
}

@media (max-width: 430px) {
  #firstname {
    margin: 0 0 23px 0;
  }

  #title .container-fluid {
    padding: 3% 6% 7% 6%;
  }

  .big-heading {
    text-align: center;
    font-size: 2.8rem;
  }

  #myForm {
    margin: 5% 8% 0 8%;
  }

  #img-container {
    /* padding: 11% 5% 3% 5%; */
    margin-top: 60px;
  }

  .img2-heading {
    position: relative;
    top: 52px;
  }

  .img3-heading {
    position: relative;
    top: 30px;
  }

  .each-feature {
    padding: 15% 0 10% 0;
  }
}

@media (max-width: 780px) {
  #firstname {
    margin: 0 0 23px 0;
  }

  #title .container-fluid {
    padding: 3% 10% 7% 10%;
  }

  .big-heading {
    text-align: center;
  }

  #myForm {
    margin: 5% 10% 0 10%;
  }

  #img-container {
    /* padding: 11% 5% 3% 5%; */
    margin-top: 60px;
  }

  .img2-heading {
    position: relative;
    top: 52px;
  }

  .img3-heading {
    position: relative;
    top: 30px;
  }

  .each-feature {
    padding: 15% 0 10% 0;
  }
}

@media (max-width: 1050px) and (min-width: 781px) {
  #title .container-fluid {
    padding: 3% 10% 7% 10%;
  }

  .big-heading {
    text-align: center;
  }

  #myForm {
    margin: 5% 10% 0 10%;
  }

  .img-container {
    margin-top: 60px;
    padding: 0 0;
  }

  .img1-heading {
    position: relative;
    top: 10px;
  }

  .img2-heading {
    position: relative;
    top: 52px;
  }

  .img3-heading {
    position: relative;
    top: 10px;
  }

  .each-feature {
    padding: 15% 0 10% 0;
  }
}
